@use 'base/variables' as v;
@use 'base/mixins' as m;

.proceso-cafe {
    margin-bottom: 2rem;
    &:last-of-type {
        margin-bottom: 0;
    }
    @include m.tablet {
        display: flex;
        gap: calc(v.$separacion / 2);
        align-items: center;

        &:nth-child(odd) {
            .texto {
                // order: 1;
                order: -1;
            }
            // .imagen {
            //     order: 2;
            // }
        }
    }
    .imagen, 
    .texto {
        // flex-grow: 1; // factor de crecimiento
        // flex-shrink: 1; // factor de decremento
        // flex-basis: 0%; // valor base inicial
        flex: 1;
    }
    .texto {
        h3 {
            margin: 0;
            text-align: left;
            color: v.$primario;

            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 5px;
                background-color: v.$secundario;
            }
        }
    }
}